<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body class="main-container">
    
    <header>
        <!-- ESTE ES EL LOGO PRINCIPAL -->
        <a href="../index.html"> <img src="../Assets/icon/Logo Popesi.ico" id="logo" alt="logotipo"></a>
        <!-- ESTA ES LA BARRA DE NAVEGACION -->
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="historia.html">Historia</a></li>
                <li><a href="productos.html">Productos</a></li>
                <li><a href="#">Galeria</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>
    
    <main id="galeria">
        <h1 class="title">Galeria</h1>
        <div id="postArea">
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>

            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>

            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>

            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>

            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
            <section class="section-post" >
                <article class="post-card" >
                    <div class="post-card__header">
                        <img src="../Assets/icon/Logo Popesi.ico" width="25" class="post-card__logo" alt="logotipo">
                        <h4 class="post-card__title">Popesi.creaciones</h4>
                    </div>
                    <img src="../Assets/img/Torta verde agua.jpg" class="post-card__image" alt="torta verde"><br>
                    <div class="post-card__icons">
                        <div>
                            <img src="../Assets/icon/corazon.png" width="15" alt="like">
                            <img src="../Assets/icon/comentario.png" width="15" alt="comentar">
                            <img src="../Assets/icon/avion-de-papel.png" width="15" alt="compartir">
                        </div>
                        <img class="marker" src="../Assets/icon/marcador (1).png" width="15" alt="etiqueta">
                    </div>
                    <h5 class="like">4,627 Me gusta</h5>
                    <p>Cuando me dijeron la temática de estás galles, me quedé What 😱😌???Pero quedaron súper lindas 😊Gracias @duarteuugenia por confiar nuevamente en mi trabajo.</p>
                </article>
            </section>
        </div>
        <!--BOTON IR ARRIBA-->
        <div class="goTop">
            <a href="#logo"><img src="../Assets/icon/arrow_circle_up_FILL1_wght400_GRAD0_opsz48.png" width="20"  alt="ir arriba"></a>
        </div>
        
    </main>
    <footer>
        <section id="footerContainer">
            
            <div class="footer-info" id="socialNetwork">
                <h4 class="footer-info__title">Seguinos en nuestras redes</h4>
                <div class="footer-info__icon">
                    <a href="https://www.facebook.com/profile.php?id=100054513697029"><img src="../Assets/icon/facebook.png" id="facebook" width="30" alt="facebook"></a>
                    <p>Pope Si</p><br>
                </div>
                
                <div class="footer-info__icon">
                    <a href="https://instagram.com/popesi.creaciones?igshid=YmMyMTA2M2Y="><img src="../Assets/icon/instagram.png" width="30" alt="instagram"></a>
                    <p>@Popesi.creaciones</p><br>
                </div>
            </div>
            
            <div class="footer-info" id="payments">
                <h4 class="footer-info__title">Medios de pago</h4>
                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Efectivo.png" width="30" alt="efectivo">
                    </a>
                    <p>Efectivo</p>
                </div>

                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Tarjeta.png" width="30" alt="tarjeta">
                    </a>
                    <p>Tarjeta</p>
                </div>

                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Transferencia.png" width="30" alt="Transferencia">
                    </a>
                    <p>Transferencia</p>
                </div>
                
            </div>
            
            <div class="footer-info">
                <h4 class="footer-info__title">Ubicacion</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.716749352277!2d-58.64052488491949!3d-34.61132338045747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb8d622900203%3A0xec71a578f73646c8!2sAlcalde%20M.%20Torres%203100%2C%20Villa%20Tesei%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1665084140282!5m2!1ses-419!2sar" width="300" height="170" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>

        <div id="copyRight">
            <p>&copy;2022 - created by Alberto Gomez - Todos los derechos reservados</p>
        </div>
    
    </footer>
</body>
</html>