<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>
<body class="main-container">
    
    <header>
        <div class="logo-container">
            <a href="../index.html" id="logo"> <img src="../Assets/icon/Logo Popesi.ico" alt="logotipo"></a>
        </div>
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="historia.html">Historia</a></li>
                <li><a href="#">Productos</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>

    </header>

    <main id="products">
        <h1 class="title">Productos</h1>

        <section>
            <article class="card" id="first">
                <img class="card__image" src="../Assets/img/cookie.png" width="" alt="cookie">
                <div class="text">
                    <h3 class="card__title" >Cookies</h3>
                    <p class="card__description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident error consequuntur corrupti consectetur reprehenderit optio modi dignissimos earum soluta qui iusto, accusamus quis aliquid, facilis necessitatibus sint. Ipsam quidem similique voluptatibus pariatur placeat, mollitia expedita aspernatur cum perferendis, iure sapiente dolorum eligendi obcaecati minima esse explicabo sunt ex quasi debitis laboriosam voluptates facere hic quod. Excepturi hic consectetur totam fugiat veritatis! Quas recusandae totam tenetur debitis! Adipisci, perspiciatis quos.</p>
                </div>
            </article>

            <article class="card" id="second">
                <img class="card__image" src="../Assets/img/galle corazon.png" width="" alt="galletitas decoradas">
                <div class="text">
                    <h3 class="card__title" >Galletitas personalizadas</h3>
                    <p class="card__description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident error consequuntur corrupti consectetur reprehenderit optio modi dignissimos earum soluta qui iusto, accusamus quis aliquid, facilis necessitatibus sint. Ipsam quidem similique voluptatibus pariatur placeat, mollitia expedita aspernatur cum perferendis, iure sapiente dolorum eligendi obcaecati minima esse explicabo sunt ex quasi debitis laboriosam voluptates facere hic quod. Excepturi hic consectetur totam fugiat veritatis! Quas recusandae totam tenetur debitis! Adipisci, perspiciatis quos.</p>
                </div>
            </article>

            <article class="card" id="third">
                <img class="card__image" src="../Assets/img/popcake.png" width="" alt="popcake">
                <div class="text">
                    <h3 class="card__title" >popcake</h3>
                    <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident error consequuntur corrupti consectetur reprehenderit optio modi dignissimos earum soluta qui iusto, accusamus quis aliquid, facilis necessitatibus sint. Ipsam quidem similique voluptatibus pariatur placeat, mollitia expedita aspernatur cum perferendis, iure sapiente dolorum eligendi obcaecati minima esse explicabo sunt ex quasi debitis laboriosam voluptates facere hic quod. Excepturi hic consectetur totam fugiat veritatis! Quas recusandae totam tenetur debitis! Adipisci, perspiciatis quos.</p>
                </div>
            </article>

            <article class="card" id="fourth">
                <img class="card__image" src="../Assets/img/Torta 1 año.png" width="" alt="Torta infantil">
                <div class="text">
                    <h3 class="card__title" >Tortas infantiles</h3>
                    <p class="card__desctiption" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident error consequuntur corrupti consectetur reprehenderit optio modi dignissimos earum soluta qui iusto, accusamus quis aliquid, facilis necessitatibus sint. Ipsam quidem similique voluptatibus pariatur placeat, mollitia expedita aspernatur cum perferendis, iure sapiente dolorum eligendi obcaecati minima esse explicabo sunt ex quasi debitis laboriosam voluptates facere hic quod. Excepturi hic consectetur totam fugiat veritatis! Quas recusandae totam tenetur debitis! Adipisci, perspiciatis quos.</p>
                </div>
            </article>

            <article class="card" id="fifth">
                <img class="card__image" src="../Assets/img/Torta verde agua.png" width="" alt="torta formal">
                <div class="text">
                    <h3 class="card__title" >Tortas formales</h3>
                    <p class="card__description" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti provident error consequuntur corrupti consectetur reprehenderit optio modi dignissimos earum soluta qui iusto, accusamus quis aliquid, facilis necessitatibus sint. Ipsam quidem similique voluptatibus pariatur placeat, mollitia expedita aspernatur cum perferendis, iure sapiente dolorum eligendi obcaecati minima esse explicabo sunt ex quasi debitis laboriosam voluptates facere hic quod. Excepturi hic consectetur totam fugiat veritatis! Quas recusandae totam tenetur debitis! Adipisci, perspiciatis quos.</p>
                </div>
            </article>

            <article id="slides"><!--ESTE SECTION DEBERIA SER UN CARROUSEL-->
                <h3 id="slidesTitle" >Conoce el resto de nuestros productos</h3>
                <div id="slidesImages">
                    <img class="image-size" src="../Assets/img/photoframe 1.png" alt="Photo 1">
                    <img class="image-size" src="../Assets/img/phptpframe 2.png" alt="Photo 2">
                    <img class="image-size" src="../Assets/img/amongus.png" alt="amongus">
                </div>    
                </article>
        </section>

        <!--BOTON IR ARRIBA-->
        <div class="goTop">
            <a href="#logo"><img src="../Assets/icon/arrow_circle_up_FILL1_wght400_GRAD0_opsz48.png" width="20"  alt="ir arriba"></a>
        </div>
    </main>

    <footer>
        <section id="footerContainer">
            
            <div class="footer-info" id="socialNetwork">
                <h4 class="footer-info__title">Seguinos en nuestras redes</h4>
                <div class="footer-info__icon">
                    <a href="https://www.facebook.com/profile.php?id=100054513697029"><img src="../Assets/icon/facebook.png" id="facebook" width="30" alt="facebook"></a>
                    <p>Pope Si</p><br>
                </div>
                
                <div class="footer-info__icon">
                    <a href="https://instagram.com/popesi.creaciones?igshid=YmMyMTA2M2Y="><img src="../Assets/icon/instagram.png" width="30" alt="instagram"></a>
                    <p>@Popesi.creaciones</p><br>
                </div>
            </div>
            
            <div class="footer-info" id="payments">
                <h4 class="footer-info__title">Medios de pago</h4>
                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Efectivo.png" width="30" alt="efectivo">
                    </a>
                    <p>Efectivo</p>
                </div>

                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Tarjeta.png" width="30" alt="tarjeta">
                    </a>
                    <p>Tarjeta</p>
                </div>

                <div class="footer-info__icon">
                    <a href="https://link.mercadopago.com.ar/popesi">
                        <img src="../Assets/icon/Transferencia.png" width="30" alt="Transferencia">
                    </a>
                    <p>Transferencia</p>
                </div>
                
            </div>
            
            <div class="footer-info">
                <h4 class="footer-info__title">Ubicacion</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.716749352277!2d-58.64052488491949!3d-34.61132338045747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb8d622900203%3A0xec71a578f73646c8!2sAlcalde%20M.%20Torres%203100%2C%20Villa%20Tesei%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1665084140282!5m2!1ses-419!2sar" width="300" height="170" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </section>

        <div id="copyRight">
            <p>&copy;2022 - created by Alberto Gomez - Todos los derechos reservados</p>
        </div>
    
    </footer>
</body>
</html>